@import 'src/styles/utilities/_mixins.scss';
@import 'src/styles/constants/_primitives.scss';

.container {
    @include flex(normal, flex-start);
    gap: 1rem;
    flex:1;
    padding: 1rem;
    border: solid 1px $color-grey-200;
    border-radius: $radius-xl;
    cursor: pointer;

    &:hover {
        box-shadow: $shadow-sm;
    }

    &--selected {
        border: solid 2px $color-primary-600;
    }

    &--disabled {
        display: none;
        // background-color: $color-grey-200;
        // &:hover {
        //     box-shadow: none;
        // }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex: 1;

        &__title,
        &__desc {
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: $color-grey-700;
        }

        &__desc {
            font-weight: 400;
            color: $color-grey-600;
        }
    }
}
